<div class="col-xs-12 col-s-6 col-md-4 col-lg-4">
  <img src="../../images/shop/shirt_bluespruce.png" style="width: 100%;">
  <h4>Spring 2017 Front Pocket Shirt - Blue Spruce</h4>
  <p>$20</p>


  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" onsubmit="return checkSize('bluespruce')">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="KB6LPP4G6PTTA">
    <input type="hidden" name="on0" value="Size">
    <select class="form-control" id="bluespruce" name="os0" style="margin-bottom: 5px;">
      <option value="select">Select a size </option>
      <option value="Small">Small </option>
      <option value="Medium">Medium </option>
      <option value="Large">Large </option>
      <option value="Extra Large">Extra Large </option>
    </select>
    <input type="submit" class="btn btn-success" name="submit" value="Add to cart" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>
