<section class="scrolling footer">
  <p class="social-media">
    <a href="http://facebook.com/CrimsonKindness"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="http://twitter.com/CrimsonKindness"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="http://instagram.com/CrimsonKindness"><i class="fa fa-instagram"></i></a>
    <a href="https://snapchat.com/add/CrimsonKindness"><i class="fa fa-snapchat-square" aria-hidden="true"></i></a>
    <a href="http://pinterest.com/CrimsonKindness"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
    <a href="mailto:CrimsonKindness@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>

  </p>
  <p>
    built with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://emily.codes">emily.codes</a>
  </p>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/moment.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/fullcalendar.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/gcal.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/scripts.js"></script>
</body>
</html>
